body {
  font-family: "TASA Orbiter", TASA Orbiter;
  margin: 0;
  background-image: url('fundo.jpg'); /* nome da imagem exatamente igual */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #1a1a1a;
}
body {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('nome-da-imagem.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav {
  background: #000;
  padding: 18px;
  text-align: center;
}

nav a {
  color: #ebdde0;
  margin: 0 18px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Bodoni Moda SC", TASA Orbiter
}

nav a:hover {
  opacity: 0.7;
}

.container {
  max-width: 900px;
  margin: 60px auto;
  background: #ebdde0; /* retângulo rosa bebê */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

p {
  line-height: 1.7;
  font-size: 17px;
}
