/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #1a1a1a;
  background-color: #f4f4f4;
}

/* HERO */
.hero {
  height: 100vh;
  background-image: url("nyc.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background-color: rgba(255, 255, 255, 0.88);
  padding: 50px 60px;
  border-radius: 14px;
  text-align: center;
  max-width: 700px;
}

.hero h1 {
  font-size: 2.6rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  padding: 12px 26px;
  background-color: #6d1f2c;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

/* SEÇÕES CLARAS */
.section-light {
  background-color: #f4f4f4;
  padding: 90px 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.section-light h2 {
  font-size: 2rem;
  margin-bottom: 25px;
}

/* CARDS DE PROJETO */
.project-card {
  background-color: white;
  padding: 35px;
  border-radius: 14px;
  margin-top: 30px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card p {
  color: #555;
  line-height: 1.6;
}

.project-card a {
  display: inline-block;
  margin-top: 15px;
  color: #6d1f2c;
  text-decoration: none;
  font-weight: bold;
}
