body {
  font-family: "TASA Orbiter", TASA Orbiter;
  margin: 0;
  background-color: #bd9ba4; 
}
nav {
  background: black;
  padding: 18px;
  text-align: center;
}

nav a {
  color: #ebdde0;
  margin: 0 18px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Bodoni Moda SC", TASA Orbiter;
  font-size: 20px; /* tamanho padrão dos links */
}

nav a.home-link {
  font-size: 24px; /* Home maior */
}

nav a:hover {
  opacity: 0.7;
}

/* Quadrado rosa bebê */
.container {
  max-width: 900px;
  min-height: 400px; /* garante altura mínima */
  margin: 60px auto;
  background: #ebdde0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* Títulos */
h1 {
  color: black;
  letter-spacing: 1px;
}

h2 {
  color: black;
  margin-top: 20px;
}

/* Parágrafos */
p {
  line-height: 1.7;
  font-size: 17px;
}
.projeto {
  background: #f4f4f4;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.projeto h2 {
  margin-bottom: 10px;
}

.projeto p {
  color: black;
  line-height: 1.5;
}
