* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f7;
  color: #333;
}

/* HERO */
.hero {
  height: 30vh;
  background:
    linear-gradient(135deg, rgba(88, 24, 124, 0.85), rgba(58, 12, 163, 0.85)),
    url("ny-hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero-content {
  padding: 0 8%;
  color: white;
}

.hero-content h1 {
  font-size: 2.3rem;
  font-weight: 600;
}

.hero-content p {
  margin-top: 8px;
  font-weight: 300;
}

/* BOTÕES */
.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn {
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 25px;
  font-size: 0.9rem;
  transition: all 0.3s;
}

.primary {
  background-color: white;
  color: #3a0ca3;
}

.primary:hover {
  background-color: #e5e5ff;
}

.secondary {
  border: 1px solid white;
  color: white;
}

.secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* CONTEÚDO */
.content {
  padding: 60px 8%;
}

/* PROJETOS */
.projects h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

/* CARD DO PROJETO */
.project-card {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  max-width: 900px;
}

.project-card h3 {
  margin-bottom: 15px;
}

.project-card img {
  max-width: 100%;
  border-radius: 8px;
  margin: 20px 0;
}

.project-card p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.note {
  font-size: 0.85rem;
  color: #666;
}
